#illustration-landing {
    max-height: 500px;
    float: right;

    @include mobile {
        display: flex;
        max-height: 350px;
        width: auto;
        float: none;
    }
}


#self-img {
    background-image:url("/images/self.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    box-shadow: 0 0 0 3px #000, 0 0 0 7px #fff, 0 0 0 10px #000;
    border-radius: 50%;
    margin: 0 auto;
    transition: background-image .5s ease-in-out;

    &:hover {
      background-image:url("/images/self-color.jpg");
  }

    @include mobile {
        height: 280px;
        margin-bottom: 30px;
    }
}

#contact-illustration {
    height: 400px;
    float: left;

    @include mobile {
        margin-bottom: 25px;
    }
}

.img-company-logo {
    border-radius: 50%;
    float: right;
    height: 65px;
    width: 65px;
    box-shadow: $box-shadow-light;
}
